# Bundler
.bundle
Gemfile.lock
pkg/*

# Rubinius
*.rbc

# YARD
.yardoc
yardoc/
doc/

# Project
.rbenv-version
.rbx
.rvmrc
.ruby-version
.ruby-gemset

# Spec artifacts
/coverage
.gem_rbs_collection
.idea
spec/examples.txt
