---
language: ruby
sudo: false
dist: trusty
rvm:
  - 2.3.8
  - 2.4.10
  - 2.5.8
  - 2.6.6
  - 2.7.1
  - rbx-3
  - jruby-9.0.5.0
  - jruby-9.1.17.0
  - jruby-9.2.7.0
  - ruby-head
  - jruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
    - rvm: rbx-3
  fast_finish: true
before_install:
  - gem install bundler --version '~> 1.17'
script: bundle exec rspec spec
notifications:
  email:
    - semmons99@gmail.com
    - andreas@aloop.org
    - weppos@weppos.net
