---
language: ruby
sudo: false
rvm:
  - 2.3.7
  - 2.4.4
  - 2.5.1
  - 2.6.0
  - rbx-3
  - jruby-9.0.5.0
  - jruby-9.1.17.0
  - jruby-9.2.0.0
  - ruby-head
  - jruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
    - rvm: rbx-3
  fast_finish: true
before_install:
  - gem update bundler
script: bundle exec rspec spec
notifications:
  email:
    - semmons99@gmail.com
    - andreas@aloop.org
    - weppos@weppos.net
